<div class="card">
    <div class="card-header">
        <h3 class="post-name"><a href="/post/{{id}}" class="link">{{title}}</a></h3>
        <p class="date">Posted By {{user.username}} On {{format_date created_at}}</p>
    </div>
    <p class="card-body">{{content}}</p>
</div>